 *{margin: 0px;
  padding: 0px;
}
nav{
    width: 100%;
    height: 50%;
    background-color: yellow;
}
img{
    height:auto;
    width: 100px;
}

label{
    color: black;
    margin: 0px 30px;
}
ul{
    float: right;
    list-style: none;
    display: flex;
    margin: 10px 30px;
    font-size: 20px;
}
li{
    margin:10px 20px ;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    background-color: blanchedalmond;
    border-radius: 50px;
}

.title{
    font-weight: bold;
    font-size: 20px;
    color: red;
    text-align: center;
    margin-top: 40px;
}
.title1{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 45;
}

.container{
    background-color: rgb(252, 248, 247);
    text-align: left;
    font-size: 30px;
    color: rgb(6, 7, 8);
    margin-top: 50px;
   
}
.container p{
    margin-left: 40px;
    font-weight: bold;
  
}

.row{
    content: "";
    display:table;
    clear: both;
}
.column-6{
    width: 50%;
    float: left;
   
}
.column-6 h4{
    margin-left: 40px;
    text-transform: none;
    text-align: left;
    color: black;
    font-size: 20px;
    margin-top: 40px;
    font-style: normal;
    word-spacing: 10px;
    
}
span{
    color: blue;
}

.column-6 img{
    float: right;
    width: auto;
    height: auto;
    margin-top: 20px;

}

.column-2{
    float: right;
    width: 50%;
}

.column-2 p{
    color:  rgb(12, 11, 11);
    font-size: 22px;
    margin-right: 90px;
    float: right;
        
}
.column-2 h4{
    font-size: 20px;
    color: grey;
    text-align: none;
    text-decoration: none;
    word-spacing: 10px;
    line-height: 30px;
}
.column-2 img{
    float: left;
    width: 90%;
    margin-left: 50px;
}

.column-3{
    float: right;
    width: 50%;
}

.column-3 h4{
    font-size: 20px;
    color: grey;
    text-align: left;
    word-spacing: 10px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.column-3 img{
    float: right;
    width: 100%;
    margin-right: 40px;
}

.container2{
    margin: 30px;
}

h2{
    text-align: center;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-4 img{
    width: 70%;
    margin-left: 10px;
    height: auto;
}

.col-4 p{
    font-size:20px;
    margin-top: 20px;
}

.col-4 h4{
    font-size: 20px;
   color: rgb(196, 196, 190);
    margin: 10px;
    line-height: 20px;
}
.box p{
    background-color: rgb(69, 174, 223);
    width: 100px;
    height: auto;
    margin-left: 100px;
    color: black;
}
.box p:hover{
    background-color: chocolate;
}

.container3{
    background-color: rgb(226, 226, 226);
    
}
.container3 h1{
    text-align: center;
}


.column-4 img{
    margin-left: 50px;
}

.column-8 p{
    margin-left: 10px;
}
.column-4{
    width: 33.33%;
    float: left;
    margin-top: 20px;
}
.column-8{
  width: 66.66%;
  float: left;
  margin-top: 20px;
}
.column-8 p{
    margin-top: 5px;
}

.container4 p{
    margin-right: 50px;
    
}

.column-4 img{
    width: 70%;
    height: auto;
    margin-top: 10px;
}


.column-3{
    float: left;
    width: 50%;
}

.column-5 img{
    margin-right: 500px;
}
.column-9{
    width: 75%;
    float: left;
}


.container4{
    background-color: rgb(5, 5, 5);

}

.col-3{
    width: 25%;
    font-size: 15px;
    float: left;
    color: rgb(247, 240, 240);
    padding: 0px;

}
.col-3 p{
    margin-top: 30px;
    margin-left: 30px;
}

.col-3 h3{
    margin-top: 40px;
    margin-left: 30px;
}



.col-3 iframe{
    width: 50%;
    float: left;
    margin-right: 5px;
    margin-top: 40px;
}

.col-3 li{
    margin-left: 20px;
    font-size: 15px;
}
.col-3 ol{
    margin-top: 40px;
}

.location img{
    width: 30px;
    height: auto;
}


/* extra small devices(phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-12{
        width: 100%;
        float: left;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;float: left;}
    .col-md-2 {width: 16.66%;float: left;}
    .col-md-3 {width: 25%;float: left;}
    .col-md-4 {width: 33.33%;float: left;}
    .col-md-5 {width: 41.66%;float: left;}
    .col-md-6 {width: 50%;float: left;}
    .col-md-7 {width: 58.33%;float: left;}
    .col-md-8 {width: 66.66%;float: left;}
    .col-md-9 {width: 75%;float: left;}
    .col-md-10 {width: 83.33%;float: left;}
    .col-md-11 {width: 91.66%;float: left;}
    .col-md-12 {width: 100%;float: left;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;float: left;}
    .col-lg-2 {width: 16.66%;float: left;}
    .col-lg-3 {width: 25%;float: left;}
    .col-lg-4 {width: 33.33%;float: left;}
    .col-lg-5 {width: 41.66%;float: left;}
    .col-lg-6 {width: 50%;float: left;}
    .col-lg-7 {width: 58.33%;float: left;}
    .col-lg-8 {width: 66.66%;float: left;}
    .col-lg-9 {width: 75%;float: left;}
    .col-lg-10 {width: 83.33%;float: left;}
    .col-lg-11 {width: 91.66%;float: left;}
    .col-lg-12 {width: 100%;float: left;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    col-xl-1 {width: 8.33%;float: left;}
.col-xl-2 {width: 16.66%;float: left;}
.col-xl-3 {width: 25%;float: left;}
.col-xl-4 {width: 33.33%;float: left;}
.col-xl-5 {width: 41.66%;float: left;}
.col-xl-6 {width: 50%;float: left;}
.col-xl-7 {width: 58.33%;float: left;}
.col-xl-8 {width: 66.66%;float: left;}
.col-xl-9 {width: 75%;float: left;}
.col-xl-10 {width: 83.33%;float: left;}
.col-xl-11 {width: 91.66%;float: left;}
.col-xl-12 {width: 100%;float: left;}
}


